/* Reset default styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Apply font and styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

/* Main container */
.main-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Slideshow container */
.slideshow-container {
    max-width: 450px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

/* Hide slides by default */
.mySlides {
    display: none;
}

/* Controls container */
.slider-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls-container {
    display: flex;
    align-items: center;
}

/* Slide number caption */
.text {
    color: black;
    font-size: 18px;
    margin-bottom: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Control buttons */
.controls {
    cursor: pointer;
    margin: 0 8px;
    padding: 10px 20px;
    background-color: #6C63FF;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.controls:hover {
    background-color: #3F3D56;
}

.controls:focus {
    outline: none;
}

.controls:focus-visible {
    outline: 3px solid black;
}

/* Progress bar */
#myProgress {
    width: 100%;
    background-color: #3F3D56;
}

#myBar {
    width: 0;
    height: 3px;
    background-color: #6C63FF;
}

/* Fading animation */
@keyframes fade {
    from { opacity: 0.4 }
    to { opacity: 1 }
}

.fade {
    animation: fade 1.5s;
}

/* Customize Font Awesome icons */
.fa {
    font-size: 1.5em;
}

.fa-pause {
    display: none; /* Hide pause icon by default */
}

.fa-play {
    display: block; /* Display play icon */
}

.pause.playing .fa-pause {
    display: block; /* Display pause icon when playing */
}

.pause.playing .fa-play {
    display: none; /* Hide play icon when playing */
}
