body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#image-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    align-items: center;
    flex-direction: column; /* 控制按钮和进度条在纵向排列 */
}

.play-button {
    font-size: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px; /* 添加一些下方间距 */
}

input[type="range"] {
    width: 100%;
}
